.btn{
	background: #96E6FF;
	border-radius: 12px;
	color: #3965FF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	width: 100%;
	margin: 1rem;
	font-size: 1.2rem;
	box-shadow: 0 3px 6px lightgray;
}
.btn:hover{
	background: #abe5f7;
	cursor: pointer;
}
.disable, .disable:hover{
	background-color: #e6e6e6;
	cursor: default;
}

.size2{
	width: auto;
	padding: 1rem 4rem;
}