.text{
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 115%;
	color: #57595C;
	margin-top: 1.2rem;
	border: solid;
}
.w1{
	/* width: 40%; */
}
.w2{
	/* width: 40%; */
}
.w3{
	width: 55rem;
}
.header{
	color: #57595C;
	font-size: 32px;
	font-weight: 800;
	line-height: 115%;
}
.right{
	display: flex;
	margin-left: auto;
}

