.text{
	font-style: normal;
	font-weight: 600;
	font-size: 1.5em;
	line-height: 115%;
	color: #57595C;
	margin-top: 1.2rem;
}

.center{
	width: 55rem;
	text-align: center;
	line-height: 125%;
}
.header{
	color: #57595C;
	font-size: 2rem;
	font-weight: 800;
	line-height: 115%;
}
.largeHeader{
	color: #57595C;
	font-size: 2.3rem;
	font-weight: 800;
	line-height: 115%;
}
.right{
	display: flex;
	margin-left: auto;
}

@media screen and (max-width: 800px){
	.center{
		width: auto;
		padding: 0 2rem;
	}
}
