.form1{
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	padding: 1.5rem;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.52);
	width: 50%;
	margin-right: 7%;
	background-color: white;
}
.form2{
	display: flex;
}
.icon{
	font-size: 1.3rem;
}

img{
	width: 1.5rem;
	height: 1.5rem;
}

@media screen and (max-width: 1033px){
	.form2{
		box-sizing: border-box;
		flex-direction: column;
		align-items: center;
		padding: 1.5rem;
		border-radius: 25px;
		border: 1px solid rgba(0, 0, 0, 0.52);
		width: 50%;
		min-width: 270px;
		background: rgba(57, 101, 255, 0.08);
	}
}

@media screen and (max-width: 800px){
	.form1{
		margin-right: 0;
		min-width: 270px;
	}
	.form1, .form2{
		padding: 1rem 1.5rem;
	}
}