.container{
	display: flex;
	width: 270px;
	justify-content: space-evenly;
	color: #57595C;
}
.link{
	display: flex;
	align-items: center;
}
a{
	display: flex;
	align-self: center;
	margin-right: 0.3rem;
}
p{
	font-weight: 600;
	font-size: 1.2rem;
}