@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1500px;
	margin: auto;
	overflow-x: hidden;
}
.nav{
	max-width: 1500px;
	box-sizing: border-box;
	padding: 15px 7%;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
	align-items: center;
}
.nav img, .notFound img{
	width: 100px;
	
}
.top{
	max-width: 1500px;
	box-sizing: border-box;
	padding: 0 7%;
	padding-top: 5rem;
	padding-bottom: 10rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	font-family: 'Montserrat', sans-serif;
}
.left{
	width: 40%;
	display: flex;
	flex-direction: column;
	
}
.left1{
	margin-top: 20%;
	align-self: start;
	width: 75%;
}
.left2{
	margin-top: 10%;
	width: 93%;
}

.landingImage img{
	width: 350px;
	height: auto;
}
.formDiv{
	max-width: 1500px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 80px 7%;
	background: rgba(57, 101, 255, 0.08);
	font-family: 'Montserrat', sans-serif;
}
.formDiv2{
	max-width: 1500px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 80px 7%;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
}
.info{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.bluebg{
	background: rgba(57, 101, 255, 0.08);
	width: 60rem;
	box-sizing: border-box;
	padding: 1rem;
	margin: 3rem 0;
}
.footer{
	max-width: 1500px;
	margin-top: 10rem;
	background-color: black;
	padding: 2rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.notFoundContainer{
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 15px;
	box-sizing: border-box;
	max-width: 1500px;
	font-family: 'Montserrat', sans-serif;
}
.notFound{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2rem;
	text-align: center;
	justify-self: center;

	height: calc(100vh - 12rem);
}
.notFound .icon{
	font-size: 4rem;
	color: #57595C;
	margin-bottom: 2rem;
}
/* Responsive */

@media screen and (max-width: 1033px){
	html{
		font-size: 14px;
	}
	.bluebg{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: transparent;
		width: 100%;
		padding: 0;
	}
}
@media screen and (max-width: 800px){
	html{
		font-size: 12px;
	}
	.formDiv{
		flex-direction: column;
		align-items: center;
		
		padding: 80px 0;
	}
	.formDiv2{
		padding: 80px 0;
	}

	.info{
		width: 90%;
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		order: -1;
		height: 200px;
		margin-bottom: 1rem;
	}
	.top{
		flex-direction: column;
		align-items: center;
	}
	.left{
		width: 100%;
	}
	.landingImage{
		order: -1;
	}
	.left1, .left2{
		align-self: center;
		text-align: center;
		width: 100%;
		margin-top: 10%;
	}
	.landingImage img{
		width: 250px;
		height: auto;
	}
	.left1{
		margin-top: 20%;
	}
}
@media screen and (max-width: 600px){
	html{
		font-size: 11px;
	}
	.nav img{
		width: 80px;
	}
	.landingImage img{
		width: 200px;
		height: auto;
	}
}